*build*/
scripts/agososreport.sh
shared/agoclient/_directories.py
version.h

# Eclipse/PTP related files
.project
.pydevproject
/.settings/
/.ptp-sync/
.ptp-sync-folder

# Apple FileSystem
.DS_Store

*.save

.idea/
